@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2? family= IM+Fell+English & display= trocar');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'IM Fell English', serif;
    --font3: 'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;
    
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--font1);
}

header {
    background-color: black;
    color: white;
    text-align: center;
    
}

header > h1 {
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0.959), rgb(66, 126, 66), rgb(48, 65, 216));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--font2);
    font-size: 6vw;
}

header > p {
    padding-bottom: 50px;

}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font3);
    font-size: 3.5vw;
}

section > p {
    padding-bottom: 2em;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: darkslategray;
    color: white;
    box-shadow: inset 8px 8px 13px 0px rgba(0, 0, 0, 0.842);
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > p {
    display: inline-block;
    padding: 7px;
    background-color: rgba(0, 0, 0, 0.301);
    text-shadow: 1px 1px 0px black;
    
}

#img001 {
    background-image: url(../imagens/background001.jpg);
    background-position: center;
    
}

#img002 {
    background-image: url(../imagens/background002.jpg);
    background-position: center;
    
}
 
#img003 {
    background-image: url(../imagens/background003.jpg);
    background-position: center top;
    background-attachment: scroll;
    
}


footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}